

@font-face {
	font-family: 'unscii';
	src: url('/unscii-16.woff') format('woff');
}

html {
	background-color: #222222;
	color: #e5e5e5;
	font-family: unscii,monospace;
	font-size: 16px;
	line-height: 16px;
}

body {
	margin: auto;
	max-width: max-content;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

p:empty {
	margin-bottom: 2em;
	margin-top: 2em;
}

h1, h2, h3 {
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 1em;
	margin-top: 1em;
	white-space: pre-wrap;
}

h1:before {
	color: #717171;
	content: "# ";
	margin-left: -2ch;
}

h2:before {
	color: #717171;
	content: "## ";
	margin-left: -3ch;
}

h3:before {
	color: #717171;
	content: "### ";
	margin-left: -4ch;
}

blockquote:before {
	color: #717171;
	content: "> ";
	margin-left: -2ch;
}

li:before {
	color: #717171;
	content: "* ";
	margin-left: -2ch;
}

li {
	list-style-type: none;
}

a:before {
	color: #717171;
	content: "=> ";
	margin-left: -3ch;
}

a {
	color: #a0ace4;
	display: block;
	text-decoration: none;
	white-space: pre-wrap;
}

pre {
	counter-reset: line;
	font-family: inherit;
	line-height: 1;
}

input {
	background-color: #373737;
	border: 1px solid #e5e5e5;
	color: #e5e5e5;
}

details {
	color: #555555;
	margin-top: 1em;
	margin-left: -3ch;
}

summary::marker { content: "" }

details a {
	margin-left: 3ch;
	color: #4a4a64;
	display: inline;
}

details a:before {
	content: "";
}

@media(prefers-color-scheme:light){
	html {
		background-color: #e5e5e5;
		color: #222222;
	}

	a {
		color: #7d8ccb;
	}

	a:visited {
		color: #636399;
	}

	details a {
		color: #7d8ccb;
	}

	input {
		background-color: #d5d6d5;
		border: 1px solid #222222;
		color: #222222;
	}

}
