body {
	font-family: monospace;
	background-color: #e5e5e5;
	color: #222222;
	max-width: 80ch;
	margin: auto;
	padding-left: 1ch;
	padding-right: 1ch;
	margin-top: 1em;
}

a {
	color: #7d7dcb;
	text-decoration: none;
}

.header { width: 100%; }
.header > tr { text-align: left; }
.header > tbody > tr > th:nth-child(1) { text-align: left; }
.header > tbody > tr > th:nth-child(2) { text-align: right; }

blockquote { color: #a0a0a0; }

pre { color: #555555; }

::marker { content: "• "; }

@media(prefers-color-scheme:dark){
	body {
		background-color: #222222;
		color: #e5e5e5;
	}
	
	a   { color: #bebef2; }
	pre { color: #d5d5d5; }
}

