/*  misc */
body {
	font-family:      phantasm, unscii, unifont, consolas, monospace;
	background-color: #000;
	color:            #fff;
	max-width:        80ch;
	margin:           auto;
	padding-left:     1ch;
	padding-right:    1ch;
	margin-top:       1em;
}

::marker { content: "• "; }
::selection { background-color: #fdf; color: #000; }

/* links */
a         { background-color: #000; color: #fff; text-decoration: none; }
a:hover   { background-color: #fdf; color: #000; }

a::before, a.internal::before { content: "{"; }
a::after,  a.internal::after  { content: "}"; }

a.external::before { content: "<"; }
a.external::after  { content: ">"; }

/* inputs (rare) */
input[type=checkbox] { pointer-events: none; } /* TODO: figure out how to style */

