/*  misc */
body {
	font-family:      phantasm, unscii, unifont, consolas, monospace;
	background-color: #000;
	color:            #fff;
	max-width:        80ch;
	margin:           auto;
	padding-left:     1ch;
	padding-right:    1ch;
	margin-top:       1em;
}

::marker { content: "• "; }
::selection { background-color: #fdf; color: #000; }

/* header alignment */
.header { width: 100%; }
.header > tr { text-align: left; }
.header > tbody > tr > th:nth-child(1) { text-align: left; }
.header > tbody > tr > th:nth-child(2) { text-align: right; }

/* links */
a         { color: #fff; text-decoration: none; }
a:hover   { background-color: #ddf; color: #000; }
a::before { content: "{"; }
a::after  { content: "}"; }
