@import url("/css/cgit.css");

/* 
 * GENERAL
 */

div#cgit {
	max-width: 120ch;
	margin: auto;
	font-family: monospace;
	tab-size: 8;
}

div#cgit div#summary { max-width: 80ch; }

div#cgit table#header td.sub,
div#cgit table.tabs,
div#cgit table.blob,
div#cgit div.content {
	border: none;
}

div#cgit div.cgit-panel table,
div#cgit div.path,
div#cgit table.diffstat,
div#cgit table.list td,
div#cgit table.list tr.nohover,
div#cgit table.list tr.nohover:hover,
div#cgit table.list tr:nth-child(2n+1),
div#cgit table.list tr:nth-child(even),
div#cgit {
	background: inherit;
}

div#cgit div.path,
div#cgit table#header td.main a,
div#cgit table.blob td.lines,
div#cgit table.diff td div.head,
div#cgit table.list td a,
div#cgit {
	color: inherit;
}

pre.hl { white-space: pre-wrap; }

/*
 * COLORS
 */

body { color: #fff; background: #000; }

div#cgit a { color: #ddf; }

div#cgit span.age-mins   { color: #e5e5e5; }
div#cgit span.age-hours  { color: #d5d5d5; }
div#cgit span.age-days   { color: #bebebe; }
div#cgit span.age-weeks  { color: #a0a0a0; }
div#cgit span.age-months { color: #7a7a7a; }
div#cgit span.age-years  { color: #555555; }

div#cgit table.list td a.ls-dir { color: #a0a0e4; }
div#cgit table.list td a:hover  { color: #bebef2; }

div#cgit a.branch-deco        { background-color: #a0e4a0; }
div#cgit a.tag-deco           { background-color: #a0a0e4; }
div#cgit a.tag-annotated-deco { background-color: #f2f2be; }
div#cgit a.remote-deco        { background-color: #bebef2; }

div#cgit a.deco,
div#cgit a.branch-deco,
div#cgit a.tag-deco,
div#cgit a.tag-annotated-deco,
div#cgit a.remote-deco,
div#cgit a.deco {
	color: #222222 !important; /* hack, but im bored */
	border: solid 1px #a0a0a0;
}

div#cgit table.diffstat td.upd a { color: #bebef2; }
div#cgit table.diff td div.hunk  { color: #f2f2be; }

div#cgit table.diff td div.del          { color: #f2bebe; }
div#cgit table.diffstat td.del a        { color: #f2bebe; }
div#cgit table.diffstat td.graph td.rem { background-color: #f2bebe; }


div#cgit table.diff td div.add          { color: #bef2be; }
div#cgit table.diffstat td.add a        { color: #bef2be; }
div#cgit table.diffstat td.graph td.add { background-color: #bef2be; }

/* 
 * HIGHLIGHTING 
 */

/* primary */
.hl.com { color: #7a7a7a; } /* multiline comment */
.hl.def { color: #222222; } /* default */
.hl.esc { color: #f2bebe; } /* escape character */
.hl.ipl { color: #f2bef2; } /* interpolation */
.hl.num { color: #d6f9f9; } /* number */
.hl.opt { color: #e5e5e5; } /* operator */
.hl.ppc { color: #f9f9d6; } /* preprocessor */
.hl.pps { color: #d6d6f9; } /* preprocessor string */
.hl.slc { color: #a0a0a0; } /* comment */
.hl.sng { color: #bebef2; } /* string */
.hl.ws  { color: #e5e5e5; } /* whitespace */

/* keyword groups */
.hl.kwa { color: #f9d6f9; } /* builtin functions */
.hl.kwb { color: #f2bebe; } /* types */
.hl.kwc { color: #d6f9f9; } /* keywords */
.hl.kwd { color: #d6f9f9; } /* keywords 2 ?? */
